@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1300px;
    width: 100%;
    @apply mx-auto px-[50px];
  }

  html {
    height: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f1f3;
  }

  @media width and (max-width: 1024px) {
    body {
      display: flex;
      flex-direction: row;
      height: 100vh;
    }
  }

  .razmer__header {
    height: 100vh;
    width: 330px;
  }
  .razmer__navbar {
    width: 800px;
  }
  .razmer__jadval {
    width: 800px;
  }
  .razmer__jadval__2 {
    height: 30px;
  }

  @media only screen and (min-width: 1145px) {
    .razmer__header {
      height: 100vh;
      width: 330px;
    }
    .razmer__navbar {
      width: 1130px;
    }
    .razmer__jadval {
      width: 1130px;
      height: 350px;
    }

    .razmer__jadval__2 {
      height: 80px;
    }
  }
  @media only screen and (min-width: 1290px) {
    .razmer__header {
      height: 100vh;
      width: 330px;
    }
    .razmer__navbar {
      width: 1130px;
    }
    .razmer__jadval {
      width: 1130px;
      height: 450px;
    }

    .razmer__jadval__2 {
      height: 80px;
    }
  }
  @media only screen and (min-width: 1350px) {
    .razmer__header {
      height: 100vh;
      width: 330px;
    }
    .razmer__navbar {
      width: 1130px;
    }
    .razmer__jadval {
      width: 1130px;
      height: 450px;
    }

    .razmer__jadval__2 {
      height: 80px;
    }
  }
  @media only screen and (min-width: 1500px) {
    .razmer__header {
      height: 100vh;
      width: 330px;
    }
    .razmer__navbar {
      width: 1130px;
    }
    .razmer__jadval {
      width: 1130px;
      height: 450px;
    }

    .razmer__jadval__2 {
      height: 90px;
    }
  }
  @media only screen and (min-width: 1600px) {
    .razmer__header {
      height: 100vh;
      width: 430px;
    }
    .razmer__navbar {
      width: 1130px;
    }
    .razmer__jadval {
      width: 1130px;
      height: 450px;
    }

    .razmer__jadval__2 {
      height: 90px;
    }
  }
  @media only screen and (min-width: 1700px) {
    .razmer__header {
      height: 100vh;
      width: 430px;
    }
    .razmer__navbar {
      width: 1250px;
    }
    .razmer__jadval {
      width: 1250px;
      height: 650px;
    }

    .razmer__jadval__2 {
      height: 90px;
    }
  }
  @media only screen and (min-width: 1870px) {
    .razmer__header {
      height: 100vh;
      width: 450px;
    }
    .razmer__navbar {
      width: 1350px;
    }
    .razmer__jadval {
      width: 1350px;
      height: 750px;
    }

    .razmer__jadval__2 {
      height: 400px;
    }
  }
  @media only screen and (min-width: 1950px) {
    .razmer__header {
      height: 100vh;
      width: 460px;
    }
    .razmer__navbar {
      width: 1450px;
    }
    .razmer__jadval {
      width: 1450px;
      height: 950px;
    }

    .razmer__jadval__2 {
      height: 500px;
    }
  }
  @media only screen and (min-width: 2100px) {
    .razmer__header {
      height: 100vh;
      width: 500px;
    }
    .razmer__navbar {
      width: 1500px;
    }
    .razmer__jadval {
      width: 1500px;
      height: 950px;
    }

    .razmer__jadval__2 {
      height: 500px;
    }
  }
  @media only screen and (min-width: 2200px) {
    .razmer__header {
      height: 100vh;
      width: 510px;
    }
    .razmer__navbar {
      width: 1600px;
    }
    .razmer__jadval {
      width: 1600px;
      height: 1050px;
    }

    .razmer__jadval__2 {
      height: 600px;
    }
  }
  @media only screen and (min-width: 2300px) {
    .razmer__header {
      height: 100vh;
      width: 550px;
    }
    .razmer__navbar {
      width: 1700px;
    }
    .razmer__jadval {
      width: 1700px;
      height: 1180px;
    }

    .razmer__jadval__2 {
      height: 600px;
    }
  }
  @media only screen and (min-width: 2450px) {
    .razmer__header {
      height: 100vh;
      width: 550px;
    }
    .razmer__navbar {
      width: 1800px;
    }
    .razmer__jadval {
      width: 1800px;
      height: 1180px;
    }

    .razmer__jadval__2 {
      height: 600px;
    }
  }
}
